In [2]:
import pandas as pd

# Ohio Data

Testing with 1 county file.

In [4]:
raw = pd.read_csv('raw_data/ADAMS.txt', sep=',', header=0)

C:\Users\Ern\AppData\Local\Temp\ipykernel_13688\208357657.py:1: DtypeWarning: Columns (20,48,52,60,63,78,79,96,99,103,110) have mixed types. Specify dtype option on import or set low_memory=False.
  raw = pd.read_csv('raw_data/ADAMS.txt', sep=',', header=0)

In [6]:
raw.head()

,SOS_VOTERID,COUNTY_NUMBER,COUNTY_ID,LAST_NAME,FIRST_NAME,MIDDLE_NAME,SUFFIX,DATE_OF_BIRTH,REGISTRATION_DATE,VOTER_STATUS,...,GENERAL-11/03/2020,PRIMARY-05/04/2021,PRIMARY-08/03/2021,PRIMARY-09/14/2021,GENERAL-11/02/2021,PRIMARY-05/03/2022,PRIMARY-08/02/2022,GENERAL-11/08/2022,SPECIAL-02/28/2023,PRIMARY-05/02/2023
0,OH0016294903,1,12125,KIMMERLY,TONY,LANCE,NaN,1975-03-16,2020-04-28,ACTIVE,...,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,OH0019991193,1,28536,BAKER,TRAVIS,COLE,NaN,1987-12-20,2008-09-09,CONFIRMATION,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,OH0026697487,1,40376,BURCHETT,JAMES,DAVID,NaN,1977-11-08,2022-10-12,ACTIVE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,OH0016300071,1,19676,RILEY,DAVID,E,NaN,1981-02-18,1999-10-22,ACTIVE,...,X,NaN,NaN,NaN,X,R,NaN,X,NaN,NaN
4,OH0016299863,1,7611,ALLISON,TREVA,MAE,NaN,1956-07-18,1988-11-23,ACTIVE,...,X,NaN,NaN,NaN,X,R,NaN,X,NaN,NaN

There are 119 columns. There is documentation on what the columns are and what the values mean.

In [9]:
col_list = raw.columns.values.tolist()

In [10]:
col_list

['SOS_VOTERID',
 'COUNTY_NUMBER',
 'COUNTY_ID',
 'LAST_NAME',
 'FIRST_NAME',
 'MIDDLE_NAME',
 'SUFFIX',
 'DATE_OF_BIRTH',
 'REGISTRATION_DATE',
 'VOTER_STATUS',
 'PARTY_AFFILIATION',
 'RESIDENTIAL_ADDRESS1',
 'RESIDENTIAL_SECONDARY_ADDR',
 'RESIDENTIAL_CITY',
 'RESIDENTIAL_STATE',
 'RESIDENTIAL_ZIP',
 'RESIDENTIAL_ZIP_PLUS4',
 'RESIDENTIAL_COUNTRY',
 'RESIDENTIAL_POSTALCODE',
 'MAILING_ADDRESS1',
 'MAILING_SECONDARY_ADDRESS',
 'MAILING_CITY',
 'MAILING_STATE',
 'MAILING_ZIP',
 'MAILING_ZIP_PLUS4',
 'MAILING_COUNTRY',
 'MAILING_POSTAL_CODE',
 'CAREER_CENTER',
 'CITY',
 'CITY_SCHOOL_DISTRICT',
 'COUNTY_COURT_DISTRICT',
 'CONGRESSIONAL_DISTRICT',
 'COURT_OF_APPEALS',
 'EDU_SERVICE_CENTER_DISTRICT',
 'EXEMPTED_VILL_SCHOOL_DISTRICT',
 'LIBRARY',
 'LOCAL_SCHOOL_DISTRICT',
 'MUNICIPAL_COURT_DISTRICT',
 'PRECINCT_NAME',
 'PRECINCT_CODE',
 'STATE_BOARD_OF_EDUCATION',
 'STATE_REPRESENTATIVE_DISTRICT',
 'STATE_SENATE_DISTRICT',
 'TOWNSHIP',
 'VILLAGE',
 'WARD',
 'PRIMARY-03/07/2000',
 'GENERAL-11/07/2000',
 'SPECIAL-05/08/2001',
 'GENERAL-11/06/2001',
 'PRIMARY-05/07/2002',
 'GENERAL-11/05/2002',
 'SPECIAL-05/06/2003',
 'GENERAL-11/04/2003',
 'PRIMARY-03/02/2004',
 'GENERAL-11/02/2004',
 'SPECIAL-02/08/2005',
 'PRIMARY-05/03/2005',
 'PRIMARY-09/13/2005',
 'GENERAL-11/08/2005',
 'SPECIAL-02/07/2006',
 'PRIMARY-05/02/2006',
 'GENERAL-11/07/2006',
 'PRIMARY-05/08/2007',
 'PRIMARY-09/11/2007',
 'GENERAL-11/06/2007',
 'PRIMARY-11/06/2007',
 'GENERAL-12/11/2007',
 'PRIMARY-03/04/2008',
 'PRIMARY-10/14/2008',
 'GENERAL-11/04/2008',
 'GENERAL-11/18/2008',
 'PRIMARY-05/05/2009',
 'PRIMARY-09/08/2009',
 'PRIMARY-09/15/2009',
 'PRIMARY-09/29/2009',
 'GENERAL-11/03/2009',
 'PRIMARY-05/04/2010',
 'PRIMARY-07/13/2010',
 'PRIMARY-09/07/2010',
 'GENERAL-11/02/2010',
 'PRIMARY-05/03/2011',
 'PRIMARY-09/13/2011',
 'GENERAL-11/08/2011',
 'PRIMARY-03/06/2012',
 'GENERAL-11/06/2012',
 'PRIMARY-05/07/2013',
 'PRIMARY-09/10/2013',
 'PRIMARY-10/01/2013',
 'GENERAL-11/05/2013',
 'PRIMARY-05/06/2014',
 'GENERAL-11/04/2014',
 'PRIMARY-05/05/2015',
 'PRIMARY-09/15/2015',
 'GENERAL-11/03/2015',
 'PRIMARY-03/15/2016',
 'GENERAL-06/07/2016',
 'PRIMARY-09/13/2016',
 'GENERAL-11/08/2016',
 'PRIMARY-05/02/2017',
 'PRIMARY-09/12/2017',
 'GENERAL-11/07/2017',
 'PRIMARY-05/08/2018',
 'GENERAL-08/07/2018',
 'GENERAL-11/06/2018',
 'PRIMARY-05/07/2019',
 'PRIMARY-09/10/2019',
 'GENERAL-11/05/2019',
 'PRIMARY-03/17/2020',
 'GENERAL-11/03/2020',
 'PRIMARY-05/04/2021',
 'PRIMARY-08/03/2021',
 'PRIMARY-09/14/2021',
 'GENERAL-11/02/2021',
 'PRIMARY-05/03/2022',
 'PRIMARY-08/02/2022',
 'GENERAL-11/08/2022',
 'SPECIAL-02/28/2023',
 'PRIMARY-05/02/2023']

In [15]:
oh_adams_data = raw.copy()

In [20]:
len(oh_adams_data.columns)

119

In [31]:
# Get rid of historic data; just want voter info (at the moment)
last_col = oh_adams_data.columns.get_loc('WARD') # 45
cols_to_drop = oh_adams_data.columns[range(last_col+1,len(oh_adams_data.columns)-1)]
oh_adams = oh_adams_data.drop(cols_to_drop, axis=1)

In [32]:
oh_adams.head()

,SOS_VOTERID,COUNTY_NUMBER,COUNTY_ID,LAST_NAME,FIRST_NAME,MIDDLE_NAME,SUFFIX,DATE_OF_BIRTH,REGISTRATION_DATE,VOTER_STATUS,...,MUNICIPAL_COURT_DISTRICT,PRECINCT_NAME,PRECINCT_CODE,STATE_BOARD_OF_EDUCATION,STATE_REPRESENTATIVE_DISTRICT,STATE_SENATE_DISTRICT,TOWNSHIP,VILLAGE,WARD,PRIMARY-05/02/2023
0,OH0016294903,1,12125,KIMMERLY,TONY,LANCE,NaN,1975-03-16,2020-04-28,ACTIVE,...,NaN,LIBERTY TOWNSHIP,01AAI,5,90,14,LIBERTY TOWNSHIP,NaN,NaN,NaN
1,OH0019991193,1,28536,BAKER,TRAVIS,COLE,NaN,1987-12-20,2008-09-09,CONFIRMATION,...,NaN,WINCHESTER TOWNSHIP,01ABG,5,90,14,WINCHESTER TOWNSHIP,NaN,NaN,NaN
2,OH0026697487,1,40376,BURCHETT,JAMES,DAVID,NaN,1977-11-08,2022-10-12,ACTIVE,...,NaN,WEST UNION A,01ABA,5,90,14,TIFFIN TOWNSHIP,WEST UNION VILLAGE,NaN,NaN
3,OH0016300071,1,19676,RILEY,DAVID,E,NaN,1981-02-18,1999-10-22,ACTIVE,...,NaN,WEST UNION A,01ABA,5,90,14,TIFFIN TOWNSHIP,WEST UNION VILLAGE,NaN,NaN
4,OH0016299863,1,7611,ALLISON,TREVA,MAE,NaN,1956-07-18,1988-11-23,ACTIVE,...,NaN,LIBERTY TOWNSHIP,01AAI,5,90,14,LIBERTY TOWNSHIP,NaN,NaN,NaN